@media(max-width: 1250px){
    ._container{
        width: 1024px;
    }
    .banner_img1{
        width: 400px;
    }
    .banner_img2{
        width: 250px;
    }
    .mini_banner{
        max-width: 170px;
        max-height: 70px;
        margin-top: 120px !important;
        margin-left: 250px !important;
    }
    .banner_work{
        font-size: 18px !important;
    }
    .banner_years{
        font-size: 42px !important;
    }
    .invest_card{
        max-width: 225px;
        max-height: 225px;
    }
    .bot_intro{
        span{
            max-width: 1024px;
        }
    }
    .invite_bg{
        max-width: 400px;
    }
    .invite{
        margin-left: 160px !important;
    }
    .entrepr_text{
        font-size: 28px !important;
        max-width: 400px;
        max-height: 45px;
        padding-top: 2px !important;
    }
    .minus{
        font-size: 28px !important;
        max-width: 45px;
        max-height: 45px;
        padding-top: 2px !important;
    }
    .entrepreneur{
        margin-left: -120px !important;    
    }
    .find_out-btn{
        max-width: 180px;
        max-height: 45px;
    }
    .accord_text{
        max-width: 380px ;
    }
    .news_card{
        img{
            width: 270px !important;
        }
        .news_title{
            font-size: 14px !important;
        }
        .news_desc{
            font-size: 14px !important;
        }
    }
    .news{
        max-height: 623px !important;
    }
    .money{
        .row{
            width: 1024px !important;
        }
    }
    .bottom_logo{
        img{
            max-width: 150px;
        }
    }
    .bottom_title{
        font-size: 16px !important;
    }
    .column{
        li{
            font-size: 14px !important;
        }
    }
}


@media(max-width: 1024px){
    ._container{
        max-width: 768px !important;
    }
    .logo{
        img{
            width: 120px !important;
        }
    }
    .menu{
        ul{
            li{
                margin-left: 20px !important;
                font-size: 14px !important;
            }
        }
    }
    .header_image{
        img{
            width: 400px !important;
        }
    }
    .haeder_descript{
        h3{
            font-size: 28px !important;
        }
        h1{
            font-size: 55px !important;
        }
        p{
            font-size: 18px !important;
        }
    }

    .invest_decsript{
        h2{
            font-size: 38px !important;
        }
        .creating_date{
            font-size: 18px !important;
        }
        .invest_about{
            font-size: 16px !important;
        }
    }
    .investors{
        .row{
            align-items: flex-start;
        }
    }

    .banner_img1{
        width: 320px !important;
    }
    .banner_img2{
        width: 200px !important;
    }
    .mini_banner{
        width: 150px !important;
        height: 60px !important;
        margin-left: 160px !important;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Bayon', sans-serif;
}
@font-face{
    font-family: "futura";
    src : url("../fonts/futura-md-bt-medium.ttf");
}
@font-face{
    font-family: "calibri";
    src : url("../fonts/Calibri-Bold.ttf");
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.header{
    height: 100px;
    background: #fff;
    padding-top: 5px;
}
._container{
    max-width: 1250px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    ul{
        display: flex;
        margin-left: -50px;
        li{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            color: #0B1328;
            margin-left: 50px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
        li:hover{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            color: #E01F11;
            transition: 0.2s ease-in-out;
        }
        .active{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            color: #E01F11;
        }
        i {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            margin-bottom: 3px;
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.header_content{
    height: 800px;
    background: url('../img/Rectangle\ 45.png');
}
.haeder_descript{
    h3{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 36px;
        color: #FFFFFF;
        span{
            color: #E01F11;
        }
    }

    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
        color: #FFFFFF;
        margin-top: 30px;
    }

    p{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
        color: #FFFFFF;
        margin-top: 20px;
    }
}

.find_out{
    display: flex;
    align-items: center;
    margin-top: 30px;
    button{
        margin-left: 40px;
        margin-top: 20px;
        background: #E01F11;
        border-radius: 10px;
        width: 51px;
        height: 46px;
        img{
            margin-left: -40px;
            margin-top: 5px;
        }
    }
    .read_more{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #0B1328;
    }
}

.header_image{
    margin-top: 145px;
}
.investors{
    margin-top: 78px;
}
.mini_banner{
    width: 232px;
    height: 89px;
    background: #E01F11;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin-top: 70px;
    margin-left: 350px;
    .banner_work{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-right: 30px;
    }
    .banner_years{
        font-family: "futura";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;
        margin-left: 30px;
    }
}

.invest_decsript{
    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
        color: #0B1328;
    }
    .creating_date{
        margin-top: 40px;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150.37%;
        color: #0B1328;
        span{
            font-family: cursive;
        }
    }
    .invest_about{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150.37%;
        margin-top: 38px;
    }
    .line{
        width: 137px;
        height: 5px;
        background: #E01F11;
        position: absolute;
        margin-top: 20px;
    }
    .read_more{
        font-family: "calibri";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #0B1328;
        margin-top: 10px;
    }
}


.invest_bot{
    margin-top: 85px;
    background: url('../img/pexels-pixabay-271667.png');
    background-position: center;
    background-size: cover;
    height: 1342px;
}

.line1{
    width: 137px;
    height: 5px;
    background: #E01F11;
    position: absolute;
    margin-top: 26px;
}
.tokenization{
    margin-top: -200px;
    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
        color: #0B1328;
    }
    .chain{
        font-family: 'Alata', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: #0B1328;
    }
    .token_desc{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        color: #0B1328;
        margin-top: 60px;
    }
    
    .line2{
        width: 449px;
        height: 10.03px;
        background: #E01F11;
        position: absolute;
        margin-top: 63px;
    }
    .line3{
        width: 356px;
        height: 10.03px;
        background: #E01F11;
        position: absolute;
        margin-top: 110px;
    }
}

.invest_card{
    width: 285px;
    height: 225px;
    background: #FFFFFF;
    margin-left: 35px;
    margin-top: 30px;
    h4{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 37px;
        padding-left: 30px;
        padding-top: 5px;
    }
}
.invest_cards{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin-top: 80px;
}

.bot_intro{
    h2{
        font-family: 'Alata', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 66px;
        color: #0B1328;
    }
    p{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        color: #0B1328;
    }
    span{
        width: 1246px;
        height: 3px;
        background: #CFCFCF;
        position: absolute;
    }
}

.number{
    width: 40px;
    height: 45px;
    background: #E01F11;
    border-radius: 10px;
    font-family: 'Futura Md BT', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #0B1328;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    margin-left: -60px;
    margin-top: 20px;
}
.advantage{
    margin-top: 59px;
    p{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        color: #0B1328;
    }
}

.cooperate{
    background: url('../img/Rectangle\ 57.png');
    height: 804px;
    .row{
        justify-content: space-between;
    }
}

.cooperate_intro{
    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
        color: #0B1328;
    }
    .show{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        color: #0B1328;
    }
    .become_investor{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        color: #0B1328;        
    }
    .coop_desc{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 33px;
        color: #0B1328;
    }
    .find_out{
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #0B1328;
            margin-top: 20px;
        }
    }
}

.invite{
    z-index: 100;
    margin-left: 290px;
    padding-top: 50px;
    p{
        font-family: 'Bayon', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        color: #FFFFFF;
    }
}
.invite_bg{
    background: url('../img/Rectangle\ 50.png');
    width: 725px !important;
    height: 810px;
    position: absolute;
    right: 0;
    z-index: 0;
    margin-top: 165px;
}
.minus{
    background: #E01F11;
    width: 61px;
    height: 61px;
    font-family: 'Futura Md BT', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-left: -5px;
    text-align: center;
    padding-top: 8px;
}
.entrepr_text{
    margin-left: 5px;
    font-family: 'Futura Md BT', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 480px;
    height: 61px;
    background: #E01F11;
    padding-left: 25px;
    padding-top: 8px;
}
.entrepreneur{
    display: flex;
    margin-left: -190px;
}
.find_out-btn{
    margin-left: -110px;
    width: 206px;
    height: 52px;
    background: #E01F11;
    border-radius: 10px;
    font-family: 'Futura Md BT', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 40px;
}

.accordion{
    margin-left: -120px;
    margin-top: 32px;
    ul{
        li{
            display: flex;
            .plus{
                background: #0B1328;
                width: 61px;
                height: 61px;
                font-family: 'Futura Md BT', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 43px;
                color: #FFFFFF;
                margin-left: -5px;
                text-align: center;
            }
            .accord_text{
                font-family: 'Josefin Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 22px;
                color: #0B1328;
                width: 422px;
                height: 61px;
                background: #FFFFFF;
                padding-left: 23px;
                padding-top: 20px;
            }
        }
    }
}
.consultation{
    background: #fff;
    height: 460px;
    margin-top: 11px;
    .row{
        display: flex;
        flex-direction: column;
        h1{
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
            color: #0B1328;
        }
        p{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 44px;
            color: #0B1328;
            margin-top: 26px;
        }
        input{
            width: 562px;
            height: 56px;
            border: 2px solid #0B1328;
            box-sizing: border-box;
            border-radius: 10px;
            margin-top: 29px;
        }
        input::placeholder{
            font-family: "calibri";
            font-style: italic;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #E01F11;
            padding-left: 18px;
        }
        button{
            font-family: 'Futura Md BT', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            width: 206px;
            height: 52px;
            background: #E01F11;
            border-radius: 10px;
            margin-top: 35px;
        }
        form{
            display: flex;
            flex-direction: column;
            margin-top: -19px;
        }
    }
}

.news{
    height: 793px; 
    background: #FBFBFB;
    .row{
        margin-top: 66px;
    }
    .news_intro{
        text-align: center;
        h1{
            font-family: 'Josefin Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
            color: #0B1328;
        }
        .line1{
            margin-left: -30px;
        }
    }
    .news_title{
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #0B1328;
        margin-top: 30px;
    }
    .news_desc{
        margin-top: 16px;
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #646464;
    }
}

.money{
    margin-bottom: 100px;
    z-index: 10;
    left: 17%;
    .row{
        z-index: 10;
        align-items: center;
        padding-top: 20px;
        width: 1246px;
        height: 137px;
        background: #FFFFFF;
        box-shadow: -1px 4px 20px rgba(0, 0, 0, 0.25);
        position: absolute;
    }
}

.bottom_menu{
    z-index: 0;
    background: url('../img/Rectangle\ 68.png');
    height: 386px;
    padding-top: 78px;
    .row{
        align-items: flex-start;
    }
}

.bot{
    .row{
        align-items: flex-start;
    }
}

.column{
    .social{
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        margin-left: -32px;
        img{
            margin-left: 32px;
        }
    }
    .bottom_title{
        font-family: 'Futura Md BT', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 26px;

    }
    ul{
        margin-top: -8px;
        li{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 29px;
            color: #FFFFFF;
            margin-top: 8px;
        }
    }
    .bottom_form{
        display: flex;
        .form_text{
            margin-top: 13px;
            input{
                width: 299px;
                height: 56px;
                border: 2px solid #E01F11;
                box-sizing: border-box;
                border-radius: 10px;
                background: transparent;
                font-family: 'Bayon', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 29px;
                color: #FFFFFF;
            }
            input::placeholder{
                font-family: 'Calibri', sans-serif;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #767676;
                padding-left: 18px;
            }
        }
        .form_btn{
            margin-left: -55px;
            margin-top: 13px;
            button{
                background: #E01F11;
                border-radius: 10px;
                width: 56px;
                height: 56px;
                padding-top: 8px;
            }
        }
    }
}

footer{
    background: #fff;
    height: 90px;
    .row{
        justify-content: center;
        padding-top: 20px;
    }
    .foot_title{
        p{
            font-family: 'Bayon', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #0B1328;
        }
        ul{
            display: flex;
            margin-left: -19px;
            li{
                margin-left: 19px;
                span{
                    width: 22px;
                    height: 1px;
                    background: #0B1328;
                    position: absolute;
                    transform: rotate(90deg);
                    margin-top: 10px;
                    margin-left: -10px;
                }
            }
        }
    }
}